@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Quicksand:wght@300..700&display=swap");
p, b, i, li, a {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.black {
  color: rgb(40, 40, 40);
}

.red {
  color: rgb(165, 0, 33);
}

.gray {
  color: rgb(94, 94, 94);
}

h1, h2, h3, h4, h5, h6, .quicksand {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.image-container {
  position: relative;
  overflow: hidden;
  perspective: 1000px;
}

.main-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
}

.grid-overlay div {
  background-color: white;
  opacity: 1;
  z-index: 500;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.cont {
  width: 100%;
  padding: 20%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 6rem;
}
.text h1 {
  display: flex;
  flex-direction: row;
}

a.inherit {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 992px) {
  .cont {
    padding: 5%;
  }
}